@import '../../vars.scss'; 

.header {
  background-color: $white;
  padding: 0px 1.25rem;
  
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    column-gap: 1.25rem;
    height: 5.75rem;

    @media (max-width:768px){
      justify-content: center;
    }
  }

  &__logo {
    @media (max-width:768px){
      display: none;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    column-gap: clamp(10px, 1vw, 20px); 

    @media (max-width:768px){
      display: none;
    }
  }
}