@import '../../vars.scss'; 

.nav_item {
  font-size: clamp(0.75rem, 1.5vw, 0.875rem);
  line-height: 1.0625rem;
  color: $textGrey;
  list-style: none;
  text-transform: uppercase;
  transition: $trs;

  a {
    color: inherit;
    text-decoration: none;
  }

  @media (any-hover: hover){
    &:hover{
      cursor: pointer;
      color: $primaryHoverColor;
    }
  }
}